# build files
results
objs
main

#nix ignores
result

# test files
*.log
*.out
*.txt
*.txt@
*.o

# direnv 
.direnv
.envrc
.cache
compile_commands.json

# madagascar ignores
sfpen*

#emacs 
*~
\#*#
.\#*

# trace files
main_trace
